<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Homework 11-12</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.js"></script>
    <script src="js/script-carousel.js"></script>

</head>
<body>
<div class="carousel-wrapper">
    <div class="myCarousel">
        <ul class="carousel-list">
            <li class="carousel-element"><img src="https://goo.gl/9i18rd"><p>Mindy</p></li>
            <li class="carousel-element"><img src="https://goo.gl/AMszav"><p>Dexter</p></li>
            <li class="carousel-element"><img src="https://goo.gl/rvos2j"><p>Stinky</p></li>
            <li class="carousel-element"><img src="https://goo.gl/nVydSo"><p>Roxy</p></li>
            <li class="carousel-element"><img src="https://goo.gl/KP2gzy"><p>Purrpie</p></li>
            <li class="carousel-element"><img src="https://goo.gl/tjjQeT"><p>Fisto</p></li>
            <li class="carousel-element"><img src="https://goo.gl/mMNr9A"><p>Chunky</p></li>
            <li class="carousel-element"><img src="https://goo.gl/LkzV4F"><p>Catso</p></li>
        </ul>
    </div>
    <div class="carousel-arrow-left"><span>&lsaquo;</span></div>
    <div class="carousel-arrow-right"><span>&rsaquo;</span></div>
</div>

<div id="root"></div>


<script type="text/html" id="contactslist">
    <h3><%- title%></h3>
    <div class="contactsContainer">
        <% _.forEach(members, function(user) { %>
        <div class="box">
            <div class="box-top">
                <img class="avatar" src="<%= user.avatar %>"/>
                <a>
                    <h2><%- user.fullname %></h2>
                </a>
            </div>

            <div class="box-bottom">
                <div class="bottom-phone">
                    <img src="https://goo.gl/Xe56W9"/>
                    <a href="tel:<%= user.phone1 %>"><%= user.phone1 %></a>
                    <a href="tel:<%= user.phone2 %>"><%= user.phone2 %></a>
                </div>
                <div class="bottom-address">
                    <img src="https://goo.gl/339EB9"/>
                    <span><%= user.addressLine1 %></span>
                    <span><%= user.addressLine2 %></span>
                </div>
                <div class="bottom-mail">
                    <img src="https://goo.gl/8ZUa27"/>
                    <a href="mailto: <%= user.email%>"><%= user.email%></a>
                    <a href="http://<%= user.website%>"><%= user.website%></a>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</script>

<script src="js/script-tmpl.js"></script>

</body>
</html>