* {
    padding: 0;
    margin: 0;
}

.carousel-list {
    list-style: none;
    left: -400px;
    width: 10000px;
    position: relative;
    overflow: hidden;
}

.carousel-list p {
    text-align: center;
    font-size: 10px;
}

.carousel-element {
    width: 400px;
    display: block;
    float: left;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.carousel-element img {
    display: block;
    max-width: 100%;
    height: auto;
}

.carousel-wrapper {
    width: 800px;
    margin: 20px auto 50px;
    position: relative;
    border: 10px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px #999;
}

.myCarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.carousel-arrow-left, .carousel-arrow-right{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    border-radius: 30px;
    box-shadow: 0 0 4px #F0EFE7;
    color: white !important;
}

.carousel-arrow-left {
    left: 15px;
}

.carousel-arrow-right {
    right: 15px;
}

.carousel-arrow-left:hover, .carousel-arrow-right:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

a {
    text-decoration: none;
}

#root{
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
}

.contactsContainer {
    margin:30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.avatar{
    width: 100px;
}

.box {
    margin: 15px;
    border-radius: 5px;
    width: 400px;
    padding: 20px;
    box-shadow: 0 0 2px #999;
}

.box-top {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    color: grey;
    text-decoration: underline;
}

.box-bottom {
    display:flex;
}

.box-bottom img {
    width: 20px;
    height: 20px;
    margin-bottom: 15px;
}

.box-bottom > div {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid lightgrey;
}
