* {
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    font-family: Geneva, Arial, sans-serif;
    background-color: #F5F5F5;
}

#container, #container2 {
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 20px;
}

.tabs {
    float:left;
    list-style: none;
    margin-right: 10px;
    cursor: pointer;

}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#articles {
    border: 1px solid black;
    height: 200px;
    background: black;
    padding: 30px;
    overflow-y: scroll;
}

.artImg {
    float: left;
}

article {
    color: silver;
    font-size: 14px;
    margin-bottom: 15px;
}

.tabs {
    display: block;
    color: black;
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
    border-bottom-style: none;
    padding: 10px;

}

.activeTab {
    display: block;
    color: white;
    background: black;
    padding: 10px;
}

.hover {
    background: #9c9696;
}

.tipLabels {
    display: inline-block;
    width: 140px;
    font-size: 14px;
}

.tooltips {
    font-size: 11px;
    margin: 2px;
    background-color: #9c9696;
    color: #fff;
    text-align: center;
    padding: 2px 10px;
    border-radius: 6px;
}

#formButt {
    margin-top: 40px;
    padding: 5px;
    cursor: pointer;
    border-radius: 6px;
    background: #9c9696;
    color: white;
}