* {
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    font-family: Geneva, Arial, sans-serif;
}

li {
    float:left;
    list-style: none;
    margin-right: 10px;
    cursor: pointer;

}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.articles {
    border: 1px solid black;
    width: 75%;
    height: 400px;
    background: black;
    padding: 30px;
    overflow: scroll;
}

img {
    float: left;
}

p {
    color: silver;
    font-size: 14px;
    margin-bottom: 15px;
}

a {
    display: block;
    color: black;
    border: 1px solid black;
    border-bottom-style: none;
    padding: 10px;

}

.activeTab {
    display: block;
    color: white;
    background: black;
    padding: 10px;
}

