.footer {
  background-color: #35383c;
  &-info{
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
  }
  & a{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: rgba(225, 225, 225, 0.2);
    font: 12px Arial;
    margin-right: 60px;
    & svg {
      width: 15px;
      opacity: 0.2;
      margin-right: 10px;
    }
  }
  & span {
    margin-left: auto;
    color: rgba(225, 225, 225, 0.2);
    font: 12px Arial;
  }
}