<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Homework 15 - Test</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.js"></script>
    <script src="https://cdn.jsdelivr.net/babel/6.0.20/browser.min.js"></script>
</head>
<body>


<div class="wrapper">

    <h1 class="heading">Тест по математике</h1>
    <div id="container"></div>

    <script type="text/html" id="questionsList">

        <ul class="questions">
            <h1 class="questionTitle"><%- title %></h1>
            <% _.forEach(answers, function(answers){ %>
            <li class="questionItem">
                <label class="checkboxLabel">
                    <input type="checkbox" class="checkbox">
                    <%- answers.text %>
                </label>
            </li>
            <% }); %>
        </ul>

    </script>

    <div class="buttons">
        <button id="checkbtn" class="button-red" type="submit">Check results</button>
        <button id="butn" class="button-red">Add question</button>
    </div>
</div>

<div id="popup">
    <div class="popup__content">
        <span class="popup__close">&times;</span>
        <span id="popup__text"></span>
        <div class="popup__buttons">
            <button class="popup__buttons-green" type="submit">Try again</button>
        </div>
    </div>
</div>

<script src="js/script.js"></script>
</body>
</html>

